.App {
  width: 100%;
}


/********** Header Component **********/
.mainTitle {
  margin: 8px 0 0 10px;
  padding: 0;
  font-size: 68px;
  color: #fff8dc;
  text-shadow: 2px 4px 3px #423e00;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.headerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 20px 20px 20px;
}


/********** Search Component **********/
.searchContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 20px 20px 20px;
  /* background-color: black; */
}

/***** Input *****/
.searchInputMUI {
  padding: 0 0 0 10px;
  background: linear-gradient(90deg, #eeeeee 30%, #dddddd 80%);
  color: #e47835 !important;
  font-weight: bold !important;
  font-size: 26px !important;
  box-shadow: 0 4px 6px 3px rgba(222, 98, 98, .5) !important;
}

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border: 4px ridge #ff7119 !important;
}

@media only screen and (min-width: 400px) {
  .searchInputMUI { width: 370px !important};
}

@media only screen and (min-width: 500px) {
  .searchInputMUI { width: 445px !important};
}

@media only screen and (min-width: 800px) {
  .searchInputMUI { width: 685px !important};
}

@media only screen and (min-width: 1200px) {
  .searchInputMUI { width: 750px !important};
}

/***** Button *****/
.searchIconButtonMUI {
  color: #de6262 !important;
}

.searchIconButton {
  width: 15%;
  background-color: #dddddd !important;
  border-radius: 0 5px 5px 0 !important;
  margin-bottom: 9.85px !important;
}

/***** Attribution *****/
.giphyAttribution {
  display: flex;
  justify-content: flex-end;
  margin: 8px 10px 5px 0;
}


/********** Gif List Component **********/
.gifListContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow: hidden !important;
  margin: 5px 20px 20px 20px;
}


/********** Masonry **********/
.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 35px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
  margin-bottom: 35px;
  /* background: grey; */
}