body {
  margin: 0;
  font-family: 'Freckle Face', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(45deg, #de6262 30%, #ffb88c 80%);
}
